In [190]:
import pandas as pd
import numpy as np
import json

In [191]:
with open('films_animation_complet_détails.json', 'r') as file:
    data = json.load(file)

In [192]:
df = pd.json_normalize(data)
df.columns

Index(['adult', 'backdrop_path', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'origin_country', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'belongs_to_collection'],
      dtype='object')

In [193]:
df.drop(columns=['adult','backdrop_path','homepage','imdb_id','overview','popularity','poster_path','video','belongs_to_collection.id',
                 'belongs_to_collection.name','belongs_to_collection.poster_path','belongs_to_collection.backdrop_path','belongs_to_collection','id',
                'spoken_languages','status','origin_country']
          ,inplace = True)

In [194]:
df.head()

,budget,genres,original_language,original_title,production_companies,production_countries,release_date,revenue,runtime,tagline,title,vote_average,vote_count
0,100000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",en,Despicable Me 4,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2024-06-20,953140610,95,Quatre fois plus de méchanceté.,"Moi, moche et méchant 4",7.159,1813
1,200000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",en,Inside Out 2,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2024-06-11,1682636477,97,Prêts pour un tourbillon d'émotions ?,Vice-versa 2,7.647,4021
2,78000000,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...",en,The Wild Robot,"[{'id': 521, 'logo_path': '/3BPX5VGBov8SDqTV7w...","[{'iso_3166_1': 'US', 'name': 'United States o...",2024-09-12,53989150,102,,Le Robot sauvage,7.715,79
3,75000000,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...",en,Transformers One,"[{'id': 24955, 'logo_path': '/pUZAeCMZlLBBUItA...","[{'iso_3166_1': 'US', 'name': 'United States o...",2024-09-11,71822359,104,,Transformers : Le Commencement,7.324,94
4,60000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,The Garfield Movie,"[{'id': 1088, 'logo_path': '/9WOE5AQUXbOtLU6GT...","[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}, {'...",2024-04-30,230295748,101,Chat va être énorme.,Garfield : Héros malgré lui,7.122,975

In [195]:
def explode (data,nom_colonne) :

    # "Exploser" la colonne (au cas où elle contiendrait des listes)
    data_exploded = data.explode(nom_colonne).reset_index(drop=True)
    
    # Aplatir la colonne imbriquée
    tempo_df = pd.json_normalize(data_exploded[nom_colonne])

    # Supprimer la colonne originale imbriquée et ajouter les nouvelles colonnes aplaties
    data_exploded = data_exploded.drop(columns=[nom_colonne])
    data = pd.concat([data_exploded, tempo_df], axis=1)

    data[f"id_{nom_colonne}"] = data['id']
    data[f"name_{nom_colonne}"] = data['name']

    data.drop(columns=['id','name'], inplace = True)

    
    return data

In [196]:
def explode_bis (data,nom_colonne) :

    # "Exploser" la colonne (au cas où elle contiendrait des listes)
    data_exploded = data.explode(nom_colonne).reset_index(drop=True)
    
    # Aplatir la colonne imbriquée
    tempo_df = pd.json_normalize(data_exploded[nom_colonne])

    # Supprimer la colonne originale imbriquée et ajouter les nouvelles colonnes aplaties
    data_exploded = data_exploded.drop(columns=[nom_colonne])
    data = pd.concat([data_exploded, tempo_df], axis=1)

    data[f"name_{nom_colonne}"] = data['name']
    data[f"id_{nom_colonne}"] = data['id']
    data[f"origin_country_{nom_colonne}"] = data['origin_country']
    
    data.drop(columns=['name','origin_country'], inplace = True)

    
    return data

In [197]:
def explode_tiers (data,nom_colonne) :

    # "Exploser" la colonne (au cas où elle contiendrait des listes)
    data_exploded = data.explode(nom_colonne).reset_index(drop=True)
    
    # Aplatir la colonne imbriquée
    tempo_df = pd.json_normalize(data_exploded[nom_colonne])

    # Supprimer la colonne originale imbriquée et ajouter les nouvelles colonnes aplaties
    data_exploded = data_exploded.drop(columns=[nom_colonne])
    data = pd.concat([data_exploded, tempo_df], axis=1)

    data[f"name_{nom_colonne}"] = data['name']

    data.drop(columns=['name'], inplace = True)

    
    return data

In [198]:
df_trans = explode(df,'genres')
df_trans = explode_bis(df_trans,'production_companies')
df_trans = explode_tiers(df_trans,'production_countries')

df_trans.head(3)

,budget,original_language,original_title,release_date,revenue,runtime,tagline,title,vote_average,vote_count,id_genres,name_genres,id,logo_path,name_production_companies,id_production_companies,origin_country_production_companies,iso_3166_1,name_production_countries
0,100000000,en,Despicable Me 4,2024-06-20,953140610,95,Quatre fois plus de méchanceté.,"Moi, moche et méchant 4",7.159,1813,16,Animation,33.0,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,33.0,US,US,United States of America
1,100000000,en,Despicable Me 4,2024-06-20,953140610,95,Quatre fois plus de méchanceté.,"Moi, moche et méchant 4",7.159,1813,16,Animation,6704.0,/fOG2oY4m1YuYTQh4bMqqZkmgOAI.png,Illumination,6704.0,US,US,United States of America
2,100000000,en,Despicable Me 4,2024-06-20,953140610,95,Quatre fois plus de méchanceté.,"Moi, moche et méchant 4",7.159,1813,10751,Familial,33.0,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,33.0,US,US,United States of America

In [199]:
#Supprimer les colonnes indésirables
df_trans.drop(columns=['logo_path','id','iso_3166_1'], inplace = True)

In [200]:
df_trans.head(2)

,budget,original_language,original_title,release_date,revenue,runtime,tagline,title,vote_average,vote_count,id_genres,name_genres,name_production_companies,id_production_companies,origin_country_production_companies,name_production_countries
0,100000000,en,Despicable Me 4,2024-06-20,953140610,95,Quatre fois plus de méchanceté.,"Moi, moche et méchant 4",7.159,1813,16,Animation,Universal Pictures,33.0,US,United States of America
1,100000000,en,Despicable Me 4,2024-06-20,953140610,95,Quatre fois plus de méchanceté.,"Moi, moche et méchant 4",7.159,1813,16,Animation,Illumination,6704.0,US,United States of America

In [202]:
# Exportationd es données dans un csv
df_trans.to_csv('data_animation.csv', index=False)